body {
    margin: 0%;
}

.left-container {
    width: 15%;
    padding: 1% 1% 1% 1%;
    background-color: lightgreen;
    text-align: right;
    display: inline-block;
    border-radius: 15px;

}

.profile-photo {
    height: 150px;
    border-radius: 100%;
}

.left-container h4 {
    margin: 0 0 0 0;

}

.left-container p {
    margin: 0 0 0 0;
}

.right-container {
    width: 70%;
    padding: 1% 1% 1% 1%;
    position: absolute;
    margin: 0% 0% 0% 0%;
    top: 0%;
    display: inline-block;
}

.heading {
    background-color: cadetblue;
    border-radius: 15px;
    text-align: center;
}

.heading h1 {
    margin: 0%;
    padding-bottom: 0%;

}

.heading h2 {
    margin: 0%;
    padding: 1%;
}

.disc-container {
    background-color: azure;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.topic-container {
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.disc-container h3 {}

.detail-container {
    margin-top: 2%;
    width: 80%;
    display: inline-block;
}

.detail-container h4 {
    padding: 0%;
    padding-top: 1%;
    margin: 0%;
}

.detail-container p {

    padding: 0%;
    margin: 0%;
}


.skills {
    width: 75%;
    display: inline-block;
}

.skills h4 {
    display: inline-block;
    width: 20%;
    margin: 1%;
    padding: 0%;
}

.skills p {
    display: inline-block;
    width: 40%;
    margin: 1%;
    padding: 0%;
}